In [2]:
import pandas as pd
rides = pd.read_parquet('../data/transformed/validated_rides_2022_01.parquet')

rides.head(10)

      pickup_datetime  pickup_location_id
0 2022-01-01 00:35:40                 142
1 2022-01-01 00:33:43                 236
2 2022-01-01 00:53:21                 166
3 2022-01-01 00:25:21                 114
4 2022-01-01 00:36:48                  68
5 2022-01-01 00:40:15                 138
6 2022-01-01 00:20:50                 233
7 2022-01-01 00:13:04                 238
8 2022-01-01 00:30:02                 166
9 2022-01-01 00:48:52                 236

In [3]:
rides['pickup_hour'] = rides['pickup_datetime'].dt.floor('H')
rides

            pickup_datetime  pickup_location_id         pickup_hour
0       2022-01-01 00:35:40                 142 2022-01-01 00:00:00
1       2022-01-01 00:33:43                 236 2022-01-01 00:00:00
2       2022-01-01 00:53:21                 166 2022-01-01 00:00:00
3       2022-01-01 00:25:21                 114 2022-01-01 00:00:00
4       2022-01-01 00:36:48                  68 2022-01-01 00:00:00
...                     ...                 ...                 ...
2463926 2022-01-31 23:36:53                  90 2022-01-31 23:00:00
2463927 2022-01-31 23:44:22                 107 2022-01-31 23:00:00
2463928 2022-01-31 23:39:00                 113 2022-01-31 23:00:00
2463929 2022-01-31 23:36:42                 148 2022-01-31 23:00:00
2463930 2022-01-31 23:46:00                 186 2022-01-31 23:00:00

[2463879 rows x 3 columns]

In [4]:
agg_rides = rides.groupby(['pickup_hour', 'pickup_location_id']).size().reset_index()
agg_rides.rename(columns={0: 'rides'}, inplace=True)
agg_rides

              pickup_hour  pickup_location_id   0
0     2022-01-01 00:00:00                   4  11
1     2022-01-01 00:00:00                   7   6
2     2022-01-01 00:00:00                  10   1
3     2022-01-01 00:00:00                  12   2
4     2022-01-01 00:00:00                  13  12
...                   ...                 ...  ..
66863 2022-01-31 23:00:00                 261   4
66864 2022-01-31 23:00:00                 262   8
66865 2022-01-31 23:00:00                 263  26
66866 2022-01-31 23:00:00                 264  24
66867 2022-01-31 23:00:00                 265   4

[66868 rows x 3 columns]