In [3]:
%reload_ext autoreload
%autoreload 2

In [4]:
from src.data import load_raw_data

rides = load_raw_data(year=2022)
rides

File 2022_01 was already in local storage
File 2022_02 was already in local storage
File 2022_03 was already in local storage
File 2022_04 was already in local storage
File 2022_05 was already in local storage
File 2022_06 was already in local storage
File 2022_07 was already in local storage
File 2022_08 was already in local storage
File 2022_09 was already in local storage
File 2022_10 was already in local storage
File 2022_11 was already in local storage
File 2022_12 was already in local storage

            pickup_datetime  pickup_location_id
0       2022-01-01 00:35:40                 142
1       2022-01-01 00:33:43                 236
2       2022-01-01 00:53:21                 166
3       2022-01-01 00:25:21                 114
4       2022-01-01 00:36:48                  68
...                     ...                 ...
3399544 2022-12-31 23:46:00                  16
3399545 2022-12-31 23:13:24                  75
3399546 2022-12-31 23:00:49                 168
3399547 2022-12-31 23:02:50                 238
3399548 2022-12-31 23:00:15                  85

[39654634 rows x 2 columns]

In [ ]:
from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data